<div class="app-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 text-center text-md-right">
        <img class="logo" src="./assets/image/logo.png" alt="">
        <p class="text-muted text-center text-lg-right text-justify mt-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک
          است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
            نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center text-md-right">
        <h5>جدیدترین تبلیغات</h5>
        <div class="box-img d-inline-flex d-md-flex mb-5 mt-4">
          <img src="assets/image/home.jpg" alt="">
          <div class="pr-3 d-flex flex-column justify-content-between">
            <a href="" class="pr-2">خانه ویلایی</a>
            <span class="pr-2 small">۲۰ فروردین ۹۸</span>
          </div>
        </div>
        <div class="box-img d-inline-flex d-md-flex">
          <img src="assets/image/desk.jpg" alt="">
          <div class="pr-3 d-flex flex-column justify-content-between">
            <a href="" class="pr-2">میز نهارخوری</a>
            <span class="pr-2 small">۱۷ تیر ۹۸</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center text-md-right">
        <h5>کمک و پشتیبانی</h5>
        <ul>
          <li><a href="">چت زنده</a></li>
          <li><a href="">حریم خصوصی</a></li>
          <li><a href="">امنیت</a></li>
          <li><a href="">پشتیبانی</a></li>
          <li><a href="">تماس با ما</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center text-md-right">
        <h5>مشترک شوید</h5>
        <p>ما با تجربه ای بیش از ۵ سال این توانایی را داریم که ۷ روز هفته و ۲۴ ساعت شبانه روز پشتیبان شما باشیم</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید">
          <div class="input-group-prepend">
            <a class="input-group-text">اشتراک</a>
          </div>
        </div>
        <div>
          <ul class="d-flex justify-content-around">
            <li><i class="lni-whatsapp"></i></li>
            <li><i class="lni-stackoverflow"></i></li>
            <li><i class="lni-telegram"></i></li>
            <li><i class="lni-facebook"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-copyright></app-footer-copyright>

