<div class="app-feature-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mb-3" *ngFor="let card of cards">
                <div class="card shadow">
                  <div class="card-body text-center">
                      <i class="{{card.icon}}"></i>
                    <h5 class="card-title my-4">{{card.title}}</h5>
                    <p class="card-text text-muted">{{card.describtion}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
