<div class="app-email">
  <div class="container">
    <div class="row">
        <div class="col text-center">
          <p class="pr-3 mb-0">به عضویت ۱۰٬۰۰۰ مشترک ما بپیوندید و به آخرین قالب ها ، برنامه های رایگان ، منابع و اطلاعیه ها دسترسی پیدا
            کنید</p>
        </div>
        <div class="col input-group input-group-lg">
          <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید">
          <div class="input-group-append pl-lg-3">
            <span class="input-group-text">
              <a href="#">عضویت</a>
            </span>
          </div>
        </div>
    </div>
  </div>
</div>
