<div class="counter my-5" id="counter">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 text-center mb-4 mb-lg-0" *ngFor="let part of data">
                <div class="box-icon">
                    <i class="{{part.className}}"></i>
                </div>
                <div class="box-data pb-0">
                    <p>{{part.text}}</p>
                    <h1 class="mb-0 {{part.classH1}}"></h1>
                </div>
            </div>
        </div>
    </div>
</div>

